 body{
    margin: 0%;
    padding: 0%;
 } 
 .first{
    height: 2em;
    width: 84em;
    background-color:black;  
    padding-top: 10px;
    
 }
 
i{
    color: white;
    height: 200px ;
    padding: 7px;
    width: 300px;

    
}
.a{
    color:rgb(53, 235, 53);
    margin-left: 43em;

}
.b{
    color:rgb(53, 235, 53);
}
.c{
    margin-left: 3em;
}
.second{
    color: black;
    background-color: rgb(53, 235, 53) ;
    padding: 6px;
    text-transform: capitalize;
    border-radius: 3px;
    border: none;
    font-weight: bold;
}
.parent{
    background-color: white;
    width: 84em;
    height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.child{
    text-transform: uppercase;
    
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    border-bottom: 5px solid rgb(245, 245, 4);

}
 /* .main{
    background-color: rgb(63, 235, 63) ;
    width: 84em;
     height: 20em; 
    
} */

.child1{
    width: 84em;
    height: 22em;
 position: absolute;

}
.child2{
    position: relative;

}
.third{
    color: white;
    margin-left: 9em;
    text-transform: uppercase;
    padding-top: 2em;
    font-size: 300%;

}
.fourth{
    color: rgb(243, 235, 235);
    text-align: center;   
    width:700px ;  
    margin-left: 20em;      

}
.fifth{
    margin-left: 44em;
    margin-top: 25px;
    padding: 10px 25px 10px 25px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: rgb(245, 245, 4);
    
}
.part2{
    background-color: white;
    width: 84em;
    height: 30em;
    position: relative;
}
.sixth{
    text-align: center;
    padding-top: 25px;
    text-transform: uppercase;
}
.seventh{
    text-align: center;
    color: rgb(158, 153, 153);
}
.line{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: peachpuff; */
    height: 200px;
    width: 900px;
    margin-left: 12em;
}
.icons{
    background-color: rgba(235, 228, 228, 0.712);
    border: none;
    border-radius: 50%;
    color:rgb(53, 235, 53) ;
    font-size:400% ;
    padding: 35px;

}
.sub{
display: flex;
justify-content:space-around;
    align-items: center;
 background-color: white; 
    font-size: 50%; 
    width: 110em;
 margin: 0% 25em; 
 text-transform: uppercase;

}
.para{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 110em;
font-size: 50%;
margin-left: 25em;
color:rgb(158, 153, 153);

} 
.part3{
    background-color: rgba(230, 221, 221, 0.486);
    width: 84em;
    height: 35em;
 position: relative; 
}

.about{
    text-align: center;
    padding-top: 25px;
    text-transform: uppercase;
}
.make{
    width:500px;
    text-align: justify;
    margin-left: 3em;
    padding-top: 10px;
    
}
.made{
    padding: 10px 25px 10px 25px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: rgb(245, 245, 4);
    margin-left: 3em;
    margin-top: 10px;   

}
.group{
    margin-top: -25em;
    margin-left: 30em;
    position: absolute;

}
.part4{
    background-color: rgba(230, 221, 221, 0.486);
    width: 84em;
    height: 30em;
 position: relative;  
}
.eighth{
    text-align: center;
    padding-top: 25px;
    text-transform: uppercase;
}
.nine{
    text-align: center;
    color: rgb(158, 153, 153);

}
.dynamic{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     /* background-color:  rgba(230, 221, 221, 0.486); */
    margin-top: 30px;
    padding: 30px;
    
}

.ten{
    height: 200px;
    width: 300px;
    border-radius: 50%;
    background-color: yellow;
    color: red;
    padding: 10px;
    font-size: 170%;  
     /* margin-left: 5em;  */
}
.eleven{
    border: none;
    height: 220px;
    width: 200px;
    background-color: rgba(208, 220, 230, 0.863);
    text-align: center;
    border-radius: 10px;
    padding: 0% 20px;

}
.d{
    padding-top: 10px;
    font-size: 100%; 
}
.last{
    font-size: 70%;
    color: rgb(158, 153, 153);

}
.twelve{
    text-align: center; 
    color:rgb(53, 235, 53) ;
    text-decoration: underline;
}
 .part5{
    background-color: black;
    width: 84em;
    height: 47em;
    position: relative;
} 
.section1{
    text-align: center;
    padding-top: 25px;
    text-transform: uppercase;
letter-spacing: 3px;
}
.section2{
text-align: center;
    color: rgb(158, 153, 153);
    width: 600px;
    margin-left: 24em ;

}
.flex{
    /* background-color: peachpuff; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
    margin-left: 20em;
    text-transform: uppercase;
    color: white;
    margin-top: 30px;

}
.section3{
    height: 470px;
    width: 850px;
    margin: 20px auto 0px 16em;
}
.part6{
    background-color: white;
    width: 84em;
    height: 30em;
     position: relative; 

}
.section4{
    text-align: center;
    padding-top: 25px;
    text-transform: uppercase;
}
.section5{
    text-align: center;
    color: rgb(158, 153, 153);
    width: 600px;
    margin-left: 24em ;
}
.span{
display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: peachpuff; */
    height: 200px;
    width: 900px;
    margin-left: 13em;
}
.range{
    background-color: rgba(235, 228, 228, 0.712);
    border: none;
    border-radius: 50%;
    color:rgb(53, 235, 53) ;
    font-size:400%;
     padding: 35px;
}

.our{
    display: flex;
justify-content:space-around;
    align-items: center;
 background-color: white; 
    font-size: 50%; 
    width: 110em;
 margin: 0% 25em; 
 text-transform: uppercase;


}
.process{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 110em;
font-size: 50%;
margin-left: 27em;
color:rgb(158, 153, 153);
}
.part7{
    text-align: center;
}
.heading7{
    font-size: 2em;
    font-weight: 100px;
    word-spacing: 5px;
}
.part7{
    background-color: rgba(230, 221, 221, 0.486);
    width: 84em;
    height: 30em;
}
.part7 p{
    color: grey;
}
.icon2{
    color: rgb(53, 235, 53);
    font-size: 4em;
    display: flex;
    justify-content: space-around;
   align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color:  rgba(209, 209, 209, 0.678);

}
.contain1{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
.contain2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    padding: 15px;
}
.max{
    width: 200px;
    height: 90%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    align-content: center;
    color: grey;
    background-color:  rgba(208, 220, 230, 0.863);
    margin-right: 10px;
}
span{
    color: black;
    font-size: 100%;
}
.active{
    height:350px;
    width: 84em;
    position: relative;
}
.over{
    text-align: center;
}
.lap{
    text-align: center;
    width: 600px;
    color: rgb(158, 153, 153);
    margin-left: 25em;
}
.percent{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.number{
    font-size: 20%;
    height: 160px;
    width: 200px;
    
}
.end{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    text-transform: uppercase;
}

.part8{
    background-color:rgb(53, 235, 53);
    padding: 20px;
    text-align: center;
    position: relative;
    height: 200px;
    width:84em ;
}
.head{
    font-size: 3em;
    font-weight: bold;
    color: white;
    margin-top: 3px;
}
input{
    width: 20%;
   padding: 10px;
   border: none;
   margin-right: 15px;
   margin-bottom: 10px;
}
.request{
    padding: 10px;
    border: none;
    color: black;
    background-color: rgb(245, 245, 4);
}
.mini{
    padding: 10px;
    color: white;
    font-size: 17px;
}
.part9{
    text-align: center;
    height: 550px;
    width: 84em;
    position: relative;
}
.part9 p{
    color: gray;
}
.head1{
    font-size: 2em;
    font-weight: 100px;
    word-spacing: 5px;
}
.icon3{
    color:rgb(53, 235, 53);
}
iframe{
    width: 100%;
    height: 400px;
}
.map{
    align-items:center;
}
.part10{
    background-color: rgb(53, 235, 53);
    display: flex;
    justify-content: space-evenly;
    color: white;
    position: relative;
    height: 450px;
    width: 84em;
}
.inter{
    width: 20%;
    padding: 10px;
}
.a1{
    width: 20%;
    padding: 40px;
    color: white;
}
hr{
    margin:50px;
}
.sub2{
    color: white;
}
.sub1{
    padding: 5px;
}
